:root {
    --bg-body:hsl(0, 0%, 80%);
    --bg-primary:hsl(0, 0%, 95%);
    --color-secondary:hsl(0, 0%, 50%);

    --ffamily:'Inter', sans-serif;
    --fcolor:hsl(0, 0%, 35%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-body);
    font-family: var(--ffamily);
    color: var(--fcolor);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5rem;
}

h1, h2, h3 {
    margin: 1rem 0;
    line-height: 1.8rem;
    font-weight: 900;
}

.title {
    max-width: 20em;
    margin-inline: auto;
}

.text-center {
    text-align: center;
}

header {
    margin: 5rem 0 3rem 0;
}

.container {
    width: min(90%, 80em);
    margin-inline: auto;
}

#survey-form {
    background-color: var(--bg-primary);
    border: 1px solid var(--bg-primary);
    width: min(90%, 40em);
    margin-inline: auto;
    padding: 1.5rem 0;
    margin-bottom: 5rem;
    box-shadow: 3px 3px 3px rgb(64, 64, 64, .4);
}

.form-items {
    display: flex;
    flex-direction: column;
    
}

input,
select,
textarea {
    color: var(--fcolor);
}
:focus {
    outline: 1px solid var(--bg-primary);
    box-shadow: 2px 1px 5px rgb(64, 64, 64, .3);
}

input,
select,
textarea,
#submit {
    margin: .4rem 0;
    padding-left: .6rem;
    font-size: 1rem;
}

.container > p,
label {
    margin-top: 1rem;
}

input::placeholder {
    color: rgb(117, 116, 116);
    opacity: .5;
}

#name,
#email,
#number,
#dropdown {
    height: 2rem;
}

#submit {
    padding: .5rem;
    background-color: var(--color-secondary);
    color: var(--bg-primary);
    border: 0;
}

